[Unit]
Description=DHCP Client
ConditionCapability=CAP_NET_ADMIN
DefaultDependencies=yes
PartOf=network.target
Before=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/dhclient -d -v -w -H %H -pf /var/run/host-dhclient.pid
ExecStopPost=/usr/sbin/dhclient -r
# PIDFile=/var/run/dhclient.pid

[Install]
WantedBy=network-online.target

