[Unit]
Description=create samba config file
Requires=systemd-networkd.service console-getty.service
After=systemd-networkd.service console-getty.service
Before=smb.service mnb.service

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/prestart.sh

[Install]
WantedBy=graphical.target

