[Unit]
Description=qBittorrent NOX
After=network-online.target
Requires=xvnc0.service data-Volumes-H.mount data-Volumes-AppData.mount data-Volumes-Anime.mount
After=xvnc0.service i3.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/opt/QB/bin/qbittorrent --webui-port=18080 --profile=/opt
Restart=on-abort

[Install]
WantedBy=multi-user.target

