[Unit]
Description=Factorio Server (Stable)
Wants=network-online.target
After=network.target network-online.target

[Service]
User=factorio
Group=factorio
Type=simple
TimeoutStartSec=20
ExecStart=/opt/factorio-stable/bin/x64/factorio --server-settings /etc/factorio/setttings-stable.json --console-log /var/log/factorio/stable.log --start-server /data/map-stable.zip
TimeoutStopSec=20
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target

