[Unit]
Description=Shadowsocks proxy client
PartOf=network.target
Before=network-online.target

[Service]
Type=simple
ExecStart=/data/shadowsocks/bin/ss-local -v -c /data/config/shadowsocks.json
Restart=always

[Install]
WantedBy=network-online.target
